@model FinalDemo.Domain.Entities.Bo

@{
    ViewBag.Title = "CreateNewBo";
}

<h2>CreateNewBo</h2>

@using (Html.BeginForm("CreateNewBo", "Bo")){
    <fieldset>
        <legend>Bo</legend>

        
        <div class="editor-label">
            @Html.LabelFor(model => model.KiHieu)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.KiHieu)
            @Html.ValidationMessageFor(model => model.KiHieu)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DPKH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DPKH)
            @Html.ValidationMessageFor(model => model.DPKH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenTV)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenTV)
            @Html.ValidationMessageFor(model => model.TenTV)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NguoiPH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NguoiPH)
            @Html.ValidationMessageFor(model => model.NguoiPH)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NamPH)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NamPH)
            @Html.ValidationMessageFor(model => model.NamPH)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

