@model FinalDemo.Models.BoViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


    <table>
        @foreach (var item in Model.Bos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaBo)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(modelItem => item.MaBo)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(modelId => item.KiHieu)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(modelId => item.DPKH)</td>
            </tr>
            <tr>
                <td>@Html.DisplayFor(modelId => item.DPKH)</td>
            </tr>

            <tr>
                <td>@Html.DisplayNameFor(modelId => item.TenTV)</td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelId => item.TenTV)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(modelId => item.NguoiPH)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelId => item.NguoiPH)
                </td>
            </tr>

            <tr>
                <td>
                    @Html.DisplayNameFor(modelId => item.NamPH)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelId => item.NamPH)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.ActionLink("Edit", "EditEmpty", new { id = item.MaBo }) | @Html.ActionLink("Back to List", "IndexBo")
                </td>
            </tr>
        }
    </table>

