@model  FinalDemo.Models.BoViewModel
@{
    ViewBag.Title = "EditEmpty";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>EditEmpty</title>
</head>
<body>
    <form method="post" action="/Bo/EditEmpty">
        <table>
            <tr>
                <td>Mã Bộ</td>
            </tr>
            <tr>
                <td>Kí Hiêu</td>
            </tr>
            <tr>
                <td>Danh Pháp</td>
            </tr>
            <tr>
                <td>Tên</td>
            </tr>
            <tr>
                <td>Người Phát Hiện</td>
            </tr>
            <tr>
                <td>Năm Phát Hiện</td>
            </tr>
        </table>
            @foreach (var item in Model.Bos)
            {
                        <input type="text" name="bo.MaBo" id="bo.MaBo" value= '@item.MaBo' readonly /> 
                <br />  <input type="text" name="bo.KiHieu" id="bo.KiHieu" value='@item.KiHieu' /> 
                <br />  <input type="text" name="bo.DPKH" id="bo.DPKH" value='@item.DPKH'  />
                <br />  <input type="text" name="bo.TenTV" id="bo.TenTV" value='@item.TenTV' />
                <br />  <input type="text" name="bo.NguoiPH" id="bo.NguoiPH" value='@item.NguoiPH' />
                <br />  <input type="text" name="bo.NamPH" id="bo.NamPH" value='@item.NamPH' />
                
            }
        
        <input type="submit" class="btn btn-default" value="Submit" />
    </form>

    <div>
        @Html.ActionLink("Back to List", "IndexBo")
    </div>
</body>

</html>
