@model FinalDemo.Models.ChiViewModel

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    @Html.ActionLink("CreateNew", "CreateNewChi")
</p>
<form method="post" action="/Chi/Search">
    <input type="text" name="find" id="find" placeholder="Find">
    <input type="submit" value="Search" />
</form>
<table border="1">
    <tr>
        <th>
            KiHieu
        </th>
        <th>
            Ho
        </th>
        <th>
            DPKH
        </th>
        <th>
            TenTV
        </th>
        <th>
            NguoiPH
        </th>
        <th>
            NamPH
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Chis)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KiHieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ho)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DPKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenTV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NguoiPH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamPH)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditEmpty", new { id = item.MaChi }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaChi }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaChi })
            </td>
        </tr>
    }

</table>
