@model FinalDemo.Models.LoaiViewModel
<link rel="stylesheet" href="/Contents/bootstrap.min.css" />
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<table class="table table-hover">
    <tr>
        <th>
            KiHieu
        </th>
        <th>
            Chi
        </th>
        <th>
            DPKH
        </th>
        <th>
            TenTg
        </th>
        <th>
            TenK
        </th>
        <th>
            Số Lượng
        </th>
        <th>
            Đặc điểm sinh sản
        </th>
        <th>
            Đặc điểm giới tính
        </th>
        <th>
            Đặc điểm khác
        </th>
        <th>
            Mức độ
        </th>
        <th>
            NguoiPH
        </th>
        <th>
            NamPH
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.Loais)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelId => item.KiHieu)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.Chi)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.DPKH)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.TenTG)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.TenK)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.DDSinhSan)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.DDGioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.DDKhac)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.MucDo)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.NguoiPH)
            </td>
            <td>
                @Html.DisplayFor(modelId => item.NamPH)
            </td>

            <td>
                @Html.DisplayFor(modelId => item.TapTinhSH)
            </td>

            <td>
                @Html.DisplayFor(modelId => item.KichCoTB)
            </td>

            <td>
                @Html.DisplayFor(modelId => item.ThucAn)
            </td>

            <td>
                @Html.DisplayFor(modelId => item.XuatXu)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaLoai }) | @Html.ActionLink("Back to List", "IndexLoai")
            </td>
        </tr>
    }
</table>

